pyrogram
pyrofork
tgcrypto
tgcrypto-pyrofork
aiohttp
selenium
bs4
requests
pathlib
python-dotenv
humanize
hachoir
#Deploy with Docker:

#Build the Docker image: docker build -t udvash .
#Run the container: docker run -d  --name udvash udvash
#log : docker logs -f udvash
